.vagrant
.DS_Store
*.swp
*.retry
*.log
ansible/.ssh
ansible/.ansible
ansible/.bash*

# Roles
ansible/roles/geerlingguy.ansible
ansible/roles/geerlingguy.docker
ansible/roles/geerlingguy.git
ansible/roles/geerlingguy.java
ansible/roles/geerlingguy.jenkins
ansible/roles/geerlingguy.mysql
ansible/roles/geerlingguy.repo-epel
ansible/roles/geerlingguy.sonar
ansible/roles/java8
ansible/roles/jenkins
ansible/roles/savoirfairelinux.nexus3-oss
ansible/roles/tecris.maven
ansible/roles/wtanaka.unzip
