.vagrant
.DS_Store
*.swp
*.retry
ansible/.ssh
ansible/.ansible
ansible/roles/geerlingguy.java
ansible/roles/geerlingguy.jenkins
ansible/roles/geerlingguy.sonar
ansible/roles/geerlingguy.repo-epel
ansible/roles/geerlingguy.ansible
ansible/roles/geerlingguy.git
ansible/roles/geerlingguy.mysql
ansible/roles/wtanaka.unzip
ansible/roles/savoirfairelinux.nexus3-oss
ansible/roles/tecris.maven
ansible/.bash*
